<mat-card id="customerpopup">
    <h3>Customer Create</h3>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider><br>
  
    <form #Customer="ngForm" class="example-form">      
      <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput name="FirstName" [(ngModel)]="Customer.FirstName" placeholder="First Name">
            </mat-form-field>
          </td>
           <td>
              <mat-form-field class="example-full-width">
                <input matInput name="LastName" [(ngModel)]="Customer.LastName" placeholder="Last Name">
              </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
                <!-- <mat-form-field>
                    <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                      <mat-option *ngFor="let food of NationalityDrop" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
              <mat-form-field class="example-full-width">
              <input matInput name="Nationality" [(ngModel)]="Customer.Nationality" placeholder="Nationality">
            </mat-form-field>
          </td>
           <td>
              <mat-form-field class="example-full-width">
                  <input type="date" name="Dateofbirth" [(ngModel)]="Customer.Dateofbirth" matInput placeholder="Date of birth">
              </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="example-full-width">
                  <input type="email" name="Email" [(ngModel)]="Customer.Email" matInput placeholder="Email">
            </mat-form-field>
          </td>
           <td>
              <mat-form-field class="example-full-width">
                  <input type="number" name="BusinessPhone" [(ngModel)]="Customer.BusinessPhone" matInput placeholder="Business Phone">
              </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="example-full-width">
                  <input type="number" name="AdditionalMobilePhone" [(ngModel)]="Customer.AdditionalMobilePhone" matInput placeholder="Additional Mobile Phone">
            </mat-form-field>
          </td>
           <td>
              <mat-form-field class="example-full-width">
                  <input type="number" name="MobilePhone" [(ngModel)]="Customer.MobilePhone" matInput placeholder="Mobile Phone">
              </mat-form-field>
          </td>
        </tr>
      </table>      
    </form>
  
  <br>
    <mat-divider></mat-divider><br><br>
    <button (click)="save(Customer)" mat-raised-button color="primary" >Save</button> &nbsp;
    <button (click)="close()" mat-raised-button color="accent">Cancel</button>&nbsp;   
  </mat-card>