
mat-card{
    margin: -16px;
}

mat-grid-tile {
    background: rgb(182, 193, 197);
  }
  .description{
      border: 1px solid rgb(90, 88, 88);
      width: 32px;
      padding: 2px 285px 31px 15px;
  }
  mat-tab{
      size: 15px;
  }