
      <button (click)="openModal()">Open Modal 1</button>
<ag-grid-angular 
    style="width: 1000px; height: 540px;" 
    class="ag-theme-balham"
    [enableSorting]="true"

    (gridReady)="onGridReady($event)" 
    (selectionChanged)="onSelectionChanged($event)"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"

    [animateRows]="true" 


    [pagination]="true"
    [paginationPageSize]="20"

    [enableFilter]="true"
    [floatingFilter]="true" 

    [rowSelection]="'single'"
    >
</ag-grid-angular>