<h3>Employees</h3>
<hr>

<mat-form-field >
    <input matInput [(ngModel)]="Employeename" [value]="Employeename"  placeholder="Search Employee" >
 </mat-form-field> &nbsp;&nbsp; 
 <button mat-button  (click)="EmployeeSearch(Employeename)">Go</button>
<br>
  
<div *ngFor="let item of [234,22,3,4,4,5,5,6,34,5543,345,345,34,53,453,543]">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>User name {{item}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <b>Address</b> : {{item}}<br>
      <b>Address2</b> : {{item}}
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-raised-button color="warn" (click)="GoToEmployeeDetails(item)">Details</button> &nbsp;&nbsp;
        <button mat-raised-button color="primary">Chat</button>
    </mat-card-actions>
  </mat-card>
  <br>
<div>