
<mat-card>
    <h3>Project Employees</h3>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider><br>

    <form #ProjectEmployee="ngForm" class="example-form">

            <mat-form-field>
                <mat-select placeholder="Select Employee" [(ngModel)]="ProjectEmployee.Employee" name="Employee">
                  <mat-option *ngFor="let food of ['hyder', 'hyder 2', 'hyder 3', 'hyder 4']" [value]="food">
                    {{food}}
                  </mat-option>
                </mat-select>
              </mat-form-field> &nbsp;

              <mat-form-field >
                  <input type="number" matInput name="NationlId" [(ngModel)]="ProjectEmployee.NationlId" placeholder="Nationl Id">
                </mat-form-field>&nbsp;

               <mat-form-field >
                  <input  matInput readonly name="Name" [(ngModel)]="ProjectEmployee.Name" placeholder="Name">
                </mat-form-field>&nbsp;
  
                <mat-form-field >
                    <input  matInput readonly name="Nationality" [(ngModel)]="ProjectEmployee.Nationality" placeholder="Nationality">
                  </mat-form-field>&nbsp;<br>

          <mat-form-field>
              <input name="ValidFrom" [(ngModel)]="ProjectEmployee.ValidFrom" matInput [matDatepicker]="ValidFrom" placeholder=" Valid From">
              <mat-datepicker-toggle matSuffix [for]="ValidFrom"></mat-datepicker-toggle>
              <mat-datepicker #ValidFrom></mat-datepicker>
          </mat-form-field> &nbsp;&nbsp;

          <mat-form-field>
              <input name="ValidTo" [(ngModel)]="ProjectEmployee.ValidTo" matInput [matDatepicker]="ValidTo" placeholder="Valid To">
              <mat-datepicker-toggle matSuffix [for]="ValidTo"></mat-datepicker-toggle>
              <mat-datepicker #ValidTo></mat-datepicker>
          </mat-form-field> &nbsp;&nbsp;
    </form>

  <br>
    <mat-divider></mat-divider><br><br>
    <button (click)="save(ProjectEmployee)" mat-raised-button color="primary" >Save</button> &nbsp;
    <button (click)="close()" mat-raised-button color="accent">Cancel</button>&nbsp;
  </mat-card>