<br><br>
<b>Employee Id</b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>National Id </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Profession </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Gender </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Email </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Labour Type </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Address </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Contact No</b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Family Name</b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Place of Residence</b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Specialization</b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Education </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>Mention The Trainings</b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br>
<b>How Many Years </b> &nbsp;:&nbsp;<span>sdfsdfsdfdsf</span> <br><br>
<button  mat-raised-button color="primary">Edit Profile</button>
