<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" > 

  <!-- top bar -->
   <mat-toolbar  style="height:50px; background-color: rgb(138, 137, 235)" class="example-toolbar">
     <button mat-icon-button  (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
     <span>Remote Work</span>
     <span class="example-spacer"></span>
     <mat-icon class="example-icon">perm_phone_msg</mat-icon>
     <span class="example-spacer"></span>
     <mat-icon class="example-icon" >menu</mat-icon>
     <span class="example-spacer"></span>
     <span>{{globalService.globalScope.userName}}</span>
     <mat-icon [matMenuTriggerFor]="menu">power_settings_new</mat-icon>
     <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="LogOut()">
         <mat-icon>power_settings_new</mat-icon>
         <span>Logout</span>
       </button>

     </mat-menu>
   </mat-toolbar>
   
   <!-- side nav -->
   <mat-sidenav-container color="primary"  class="example-sidenav-container" >
     <mat-sidenav class="example-sidenav" #snav mode="side" opened [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">
       <mat-nav-list style="width: 200px;">
         <mat-expansion-panel>
             <mat-expansion-panel-header  style="height: 35px;">
               <mat-panel-title >
               Organization
               </mat-panel-title>
             </mat-expansion-panel-header >
               <mat-nav-list class="exampl-mat-nav-list">
                   <a mat-list-item routerLink="/enquiry" routerLinkActive="active" > Enquiry</a>
                   <a mat-list-item routerLink="/job-setup" routerLinkActive="active" > Job Setup</a>
                   <a mat-list-item routerLink="/look-up" routerLinkActive="active" > Look Up</a>
                   <a mat-list-item routerLink="/menus" routerLinkActive="active" > Menus</a>
                   <a mat-list-item routerLink="/notification" routerLinkActive="active" > Notification</a>
                   <a mat-list-item routerLink="/pay-group" routerLinkActive="active" > Pay Group</a>
                   <a mat-list-item routerLink="/permission" routerLinkActive="active" > Permission</a>
                   <a mat-list-item routerLink="/roles" routerLinkActive="active" > Roles</a>
                   <a mat-list-item routerLink="/staff" routerLinkActive="active" > Staff</a>
                   <a mat-list-item routerLink="/users" routerLinkActive="active" >Users</a>
                
               </mat-nav-list>
        </mat-expansion-panel>

         <mat-expansion-panel>
             <mat-expansion-panel-header  style="height: 35px;">
               <mat-panel-title >
                Employee
               </mat-panel-title>
             </mat-expansion-panel-header >
               <mat-nav-list class="exampl-mat-nav-list">
                   <a mat-list-item routerLink="/employees" routerLinkActive="active" >Employees</a>
                   <a mat-list-item routerLink="/employee-search" routerLinkActive="active" >Employee Search</a>
                   <a mat-list-item routerLink="/candidate" routerLinkActive="active" >Candidate</a>
                   <a mat-list-item routerLink="/job-application-list" routerLinkActive="active" >Job Application List</a>
                   <a mat-list-item routerLink="/project-employees" routerLinkActive="active" >Project Employees</a>
               </mat-nav-list>
        </mat-expansion-panel>

         <mat-expansion-panel>
             <mat-expansion-panel-header  style="height: 35px;">
               <mat-panel-title >
                Customer
               </mat-panel-title>
             </mat-expansion-panel-header >
               <mat-nav-list color="primary" class="exampl-mat-nav-list">
                  <a mat-list-item routerLink="/customers" routerLinkActive="active" >Customers</a>
                  <a mat-list-item routerLink="/customer-list" routerLinkActive="active" >Customer List</a>
                  <a mat-list-item routerLink="/opportunity-new" routerLinkActive="active" >Opportunity New </a>
                  <a mat-list-item routerLink="/projects" routerLinkActive="active" >Projects</a>
                  <a mat-list-item routerLink="/task" routerLinkActive="active" >Task</a>
                  <a mat-list-item routerLink="/task-template" routerLinkActive="active" >Task Template</a>


                   <!-- <a mat-list-item routerLink="/customer-list" routerLinkActive="active" >Customer List</a>
                   <a mat-list-item routerLink="/5th" routerLinkActive="active" >5th</a>
                   <a mat-list-item routerLink="/2nd" routerLinkActive="active" >6th</a>
                   <a mat-list-item routerLink="/hero" routerLinkActive="active" >hero</a>
                   <a mat-list-item routerLink="/pannel" routerLinkActive="active" >ExpentionPannel</a> -->
               </mat-nav-list>
        </mat-expansion-panel>
       </mat-nav-list>
     </mat-sidenav>
 
     <!-- body part -->
     <mat-sidenav-content class="matsidenavcontendt" style="padding:10px;">
         <mat-card>
           <!-- body -->
           <router-outlet></router-outlet>
         </mat-card>
     </mat-sidenav-content>

   </mat-sidenav-container>
 </div>
