.example-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  
  .example-spacer {
    padding: 0 20px;
  }

  .example-sidenav-container {
    background-color: rgba(19, 22, 22, 0.219);
  }
  .mat-icon{
    cursor: pointer;
  }

  mat-nav-list a {
    height: 35px;
    
  }
  .exampl-mat-nav-list a {
    font-size: 12px;
  }
  
   .matsidenavcontendt{
     padding: 0%;
   }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-sidenav {
    display: flex;
    width: 200px;
    background: rgba(122, 124, 243, 0.5);
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
     z-index: 2;
  }
    .matsidenav{
      display: flex;
    }
    .example-sidenav-container {
      /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
        causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
       flex: 1;
       position: relative;
    }
    
    .example-is-mobile .example-sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
        `<body>` to be our scrolling element for mobile layouts. */
       flex: 1 ;
    } 
                                  

