<mat-card>
    <span style="font-size: 20px">Project Details</span> 
    <button mat-icon-button>
        <mat-icon  (click)="ProjectEmployeeCreate()">create_new_folder</mat-icon>
      </button>
    <hr>
    <div>
        <table>
          <tr>
            <th>Project Id :	</th>
            <td></td>
          </tr>
          <tr>
            <th>Description :	</th>
            <td></td>
          </tr>
          <tr>
            <th>Customer Id :	</th>
            <td></td>
            </tr>
          <tr>
            <th>Name :	</th>
            <td></td>
          </tr>
          <tr>
            <th>Start Date :	</th>
            <td></td>
          </tr>
          <tr>
              <th>End Date :</th>
              <td></td>
            </tr>
        </table>
    </div>
</mat-card><br><br>

<mat-card>
    <span style="font-size: 20px"> Project Employee</span> 
    <hr>
    <div> 
        <div class="button-row">
            <button mat-icon-button>
                <mat-icon  (click)="ProjectEmployeeCreate()">create_new_folder</mat-icon>
              </button>
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon >search</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>autorenew</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon >menu</mat-icon>
            </button>
          </div>
    </div>
    <hr>
    <div class="grid-matcard">
    
      <ag-grid-angular 
          style="width: 100%; height: 450px;" 
          [gridOptions]="gridOptions"
    
          class="ag-theme-balham"
          [enableSorting]="true"
      
          (gridReady)="onGridReady($event)" 
          [rowData]="rowData" 
          [columnDefs]="columnDefs"
          [animateRows]="true" 
        
    
          [pagination]="true"
          [paginationPageSize]="15"
      
          [enableFilter]="true"
          [floatingFilter]="true" 
      
          [rowSelection]="'single'"
          >
      </ag-grid-angular>
    </div>
    
</mat-card>