<!-- <app-admin-navigation-bar></app-admin-navigation-bar> -->


<!-- 
<ng-template  *ngIf="true; else elseBlock">zxczxc
    <app-login></app-login>
</ng-template>

<ng-template #elseBlock>
    <app-admin-template></app-admin-template>
</ng-template> -->

    <!-- <ng-container *ngIf="islogin; else elseblock" >
            <app-login></app-login>
    </ng-container>
    <ng-template #elseblock>
            <app-admin-template></app-admin-template>
    </ng-template> -->

    <ng-container *ngIf="globalService.globalScope.isLogedIn; else elseblock" >
            <app-admin-template></app-admin-template>
    </ng-container>
    <ng-template #elseblock>
            <app-login></app-login>
    </ng-template>