<h3>Task List</h3>
<div> 
    <div class="button-row">
        <button (click)="CreatClick()" mat-mini-fab color="primary"><mat-icon>create_new_folder</mat-icon></button>
        <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
        <button  mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
        <button  mat-mini-fab color="primary"><mat-icon>cached</mat-icon></button>       
        <button mat-mini-fab color="primary"><mat-icon >menu</mat-icon></button>
        
      </div>
</div>
<hr>
<mat-card class="grid-matcard">

  <ag-grid-angular 
      style="width: 100%; height: 450px;" 
      [gridOptions]="gridOptions"

      class="ag-theme-balham"
      [enableSorting]="true"
  
      (gridReady)="onGridReady($event)" 
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      [animateRows]="true" 
      
      [pagination]="true"
      [paginationPageSize]="15"
  
      [enableFilter]="true"
      [floatingFilter]="true" 
  
      [rowSelection]="'multiple'"
      >
  </ag-grid-angular>
</mat-card>
