
<mat-card>
    <h3>Task Create</h3>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider><br>

    <form #Task="ngForm" class="example-form">

            <mat-form-field>
                <mat-select placeholder="Select Projects" [(ngModel)]="Task.Project" (ngModelChange)="Getprojectemployee($event)" name="Project">
                  <mat-option *ngFor="let item of projectdrop" [value]="item.Id">
                    {{item.Desc}}
                  </mat-option>
                </mat-select>
              </mat-form-field> &nbsp;

              <mat-form-field>
                <mat-select placeholder="Assign Employee" [(ngModel)]="Task.AssignTo" name="AssignTo">
                  <mat-option *ngFor="let item of projectEmployeedrop" [value]="item.Id">
                    {{item.Desc}}
                  </mat-option>
                </mat-select>
              </mat-form-field> &nbsp;

              <mat-form-field>
                <mat-select placeholder="Priority" [(ngModel)]="Task.Priority" name="Priority">
                  <mat-option *ngFor="let item of PriorityDrop" [value]="item.Id">
                    {{item.Desc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>      <br>
                     
              <mat-form-field> 
                  <mat-select placeholder="Group" [(ngModel)]="Task.Group" name="Group">
                    <mat-option *ngFor="let item of GroupDrop" [value]="item.Id">
                      {{item.Desc}}
                    </mat-option>
                  </mat-select>
              </mat-form-field> &nbsp;

              <mat-form-field class="example-full-width">
                  <input matInput type="date"  name="ScheduleStart" [(ngModel)]="Task.ScheduleStart" placeholder="Schedule Start Date">
              </mat-form-field>&nbsp;

              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> <br>

             <mat-form-field class="example-full-width">
                <input matInput type="date"  name="ScheduleEnd" [(ngModel)]="Task.ScheduleEnd" placeholder="Schedule End Date">
            </mat-form-field>&nbsp;

            <mat-form-field class="example-full-width">
            <input matInput type="number" name="Days" [(ngModel)]="Task.Days" placeholder="Days">
          </mat-form-field>&nbsp;

            <mat-form-field class="example-full-width">
              <input matInput type="number" name="Hours" [(ngModel)]="Task.Hours" placeholder="Hours">
            </mat-form-field>&nbsp; <br>

            <mat-form-field class="example-full-width">
              <input matInput type="number" name="Minutes" [(ngModel)]="Task.Minutes" placeholder="Minutes">
            </mat-form-field>&nbsp;

              <mat-form-field class="example-full-width">
              <input matInput name="Title" [(ngModel)]="Task.Title" placeholder="Title">
            </mat-form-field>&nbsp;

              <mat-form-field class="example-full-width">
                <textarea matInput  name="Description" [(ngModel)]="Task.Description" placeholder="Description"></textarea>
              </mat-form-field>&nbsp;
              <!-- <mat-form-field class="example-full-width">
                 <input matInput type="button" mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
                   <mat-icon>attachment</mat-icon>                 
                   <input matInput type="file" name="file" #imgFileInput (change)="previewImage($event)" style="display:none;"/> 
            </mat-form-field> -->

          <!-- <td>
              <mat-form-field class="example-full-width">
                <input matInput type="file" name="Taskfile" [(ngModel)]="Task.Minutes" placeholder="Document">
              </mat-form-field>
          </td> -->

    </form>

  <br>
    <mat-divider></mat-divider><br><br>
    <button (click)="save(Task)" mat-raised-button color="primary" >Save</button> &nbsp;
    <button (click)="close()" mat-raised-button color="accent">Cancel</button>&nbsp;
  </mat-card>