{{RecId}} <b>Employee Details</b><br><br><br>
<mat-card>
    <mat-tab-group>
        <mat-tab label="Profile"> 
            <app-employee-details-profile></app-employee-details-profile>
        </mat-tab>
        <mat-tab label="All Tasks"> 
            <app-employee-details-all-tasks></app-employee-details-all-tasks>
        </mat-tab>
        <mat-tab label="All Projects">
            <app-employee-details-all-projects></app-employee-details-all-projects>
        </mat-tab>
        <mat-tab label="Task From Current Project"> 
            <app-employee-details-task-from-current-project></app-employee-details-task-from-current-project>
        </mat-tab>
    </mat-tab-group>
</mat-card>