<mat-card class="grid-matcard">

    <ag-grid-angular 
        style="width: 100%; height: 450px;" 
  
        class="ag-theme-balham"
        [enableSorting]="true"
    
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [animateRows]="true" 
        
        [pagination]="true"
        [paginationPageSize]="15"
    
        [enableFilter]="true"
        [floatingFilter]="true" 
    
        [rowSelection]="'single'"
        >
    </ag-grid-angular>
  </mat-card>